@model EmployeeSys.Web.Models.EmployeeDto

@{
    ViewData["Title"] = "InsertEmployee";
}

<h1>InsertEmployee</h1>

<h4>EmployeeDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirsName" class="control-label"></label>
                <input asp-for="FirsName" class="form-control" />
                <span asp-validation-for="FirsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpNo" class="control-label"></label>
                <input asp-for="EmpNo" class="form-control" />
                <span asp-validation-for="EmpNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postion" class="control-label"></label>
                <input asp-for="Postion" class="form-control" />
                <span asp-validation-for="Postion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultDesc" class="control-label"></label>
                <input asp-for="DefaultDesc" class="form-control" />
                <span asp-validation-for="DefaultDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatadDate" class="control-label"></label>
                <input asp-for="CreatadDate" class="form-control" />
                <span asp-validation-for="CreatadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_CreatadDate" class="control-label"></label>
                <input asp-for="_CreatadDate" class="form-control" />
                <span asp-validation-for="_CreatadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_ModifiedDate" class="control-label"></label>
                <input asp-for="_ModifiedDate" class="form-control" />
                <span asp-validation-for="_ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
